footer.footer
	.footer__container.container
		.footer__logo-box 
			a.footer__logo(href="#") 
				svg.footer__logo-img(width="42" height="42")
					use(xlink:href="assets/images/sprite.svg#footer-logo")
		nav.footer__social-nav
			ul.footer__social-list
				li.footer__social-item
					a.footer__social-link(href="#")
						svg.footer__logo-img(width="24" height="24")
							use(xlink:href="assets/images/sprite.svg#social-vk")
				li.footer__social-item
					a.footer__social-link(href="#")
						svg.footer__logo-img(width="24" height="24")
							use(xlink:href="assets/images/sprite.svg#social-ok")
				li.footer__social-item
					a.footer__social-link(href="#")
						svg.footer__logo-img(width="24" height="24")
							use(xlink:href="assets/images/sprite.svg#social-fb")
				li.footer__social-item
					a.footer__social-link(href="#")
						svg.footer__logo-img(width="24" height="24")
							use(xlink:href="assets/images/sprite.svg#social-instagram")
				li.footer__social-item
					a.footer__social-link(href="#")
						svg.footer__logo-img(width="24" height="24")
							use(xlink:href="assets/images/sprite.svg#social-youtube")
				li.footer__social-item
					a.footer__social-link(href="#")
						svg.footer__logo-img(width="24" height="24")
							use(xlink:href="assets/images/sprite.svg#social-tweeter")
				li.footer__social-item
					a.footer__social-link(href="#")
						svg.footer__logo-img(width="24" height="24")
							use(xlink:href="assets/images/sprite.svg#social-h")
		.footer__copyright 
			small &copy;&nbsp;2021&nbsp;VK
