header.header
	.header__container.container
		.header__logo-box
			a.header__logo(href="#") 
				svg.header__logo-img(width="42" height="42")
					use(xlink:href="assets/images/sprite.svg#header-logo")
		nav.header__nav
			ul.header__menu
				li.header__menu-item
					a.header__menu-link(href="#") О&nbsp;Компании
				li.header__menu-item
					a.header__menu-link(href="#") Инвесторам
				li.header__menu-item
					a.header__menu-link(href="#") Прессе
				li.header__menu-item
					a.header__menu-link(href="#") Карьера
				li.header__menu-item
					a.header__menu-link(href="#") События
				li.header__menu-item
					a.header__menu-link(href="#") Рекламодателям
				li.header__menu-item
					a.header__menu-link(href="#") Контакты
		.header__language-box
			a.header__language-link(href="#") EN